.Ball {
  background-color: orange;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}